@tailwind base;
@tailwind components;
@tailwind utilities;


/* File Uploader */

::selection {
  color: #fff;
  background: #6990f2;
}
.wrapper {
  width: 430px !important;
  height: auto !important;
  background: #ffft;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
}
.wrapper header {
  color: #22dc29;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
.wrapper form {
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990f2;
}
form :where(i, p) {
  color: #6990f2;
}
form i {
  font-size: 50px;
}
form p {
  margin-top: 15px;
  font-size: 16px;
}
.wrapper section .row {
  margin-bottom: 10px;
  background: #e9f0ff;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper section .row i {
  color: #6990f2;
  font-size: 30px;
}
.wrapper section .details span {
  font-size: 14px;
}
.wrapper .progress-area .row .content-i {
  width: 100%;
  margin-left: 15px;
}
.wrapper .progress-area .details {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.wrapper .wrapper .progress-area .content-i .progress-bar {
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}
.wrapper .content-i .progress-bar .progress {
  height: 100%;
  width: 0%;
  background: #6990f2;
  border-radius: inherit;
}
.wrapper .uploaded-area {
  max-height: 232px;
  overflow-y: scroll;
}
.wrapper .uploaded-area.onprogress {
  max-height: 150px;
}
.wrapper .uploaded-area::-webkit-scrollbar {
  width: 0px;
}
.wrapper .uploaded-area .row .content-i {
  display: flex;
  align-items: center;
}
.wrapper .uploaded-area .row .details {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.wrapper .uploaded-area .row .details .size {
  color: #404040;
  font-size: 11px;
}
.wrapper .uploaded-area i.fa-check {
  font-size: 16px;
}
/* File Uploader */